<!DOCTYPE html>
<html>
    <head>
        <title>Websocket Notification app</title>
        <link rel="stylesheet" type="text/css" href="/styles/auction.css">
    </head>
    <body>
        <h2 id="title-auction">Auction - Place your bids!</h2>
        <div id="auction">
            <div id="auction-container">
                <div class="item-auction-container">
                    <span id="current-max-bid">
                        0.0 €
                    </span>
                </div>
                <form id="form-auction">
                    <input id="bid-input" type="number" autocomplete="off" placeholder="1234" step="0.01" />
                    <button>Send bid</button>
                </form>
            </div>
            <div id="bids-container-history">
                <h3>Bids history</h3>
                <div id="bids">
                    <ul id="bids-list">
                    </ul>
                </div>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            let socket = io();
            let form = document.querySelector("#form-auction");
            let bids_list = document.querySelector("#bids-list");
            let current_max_bid = document.querySelector("#current-max-bid");

            if(form.addEventListener){
                form.addEventListener("submit", e => {
                    e.preventDefault();
                    let bid_amount = document.querySelector("#bid-input").value;

                    if(bid_amount !== "")
                        socket.emit('incoming bid', {amount: bid_amount});

                    document.querySelector("#bid-input").value = "";
                });
            } else {
                form.attachEvent("onsubmit", e => {
                    e.preventDefault();
                    let bid_amount = document.querySelector("#bid-input").value;
                    
                    if(bid_amount !== "")
                        socket.emit('incoming bid', {amount: bid_amount});

                    document.querySelector("#bid-input").value = "";
                });
            }

            socket.on('bid history', (msg) => {
                console.log(msg);
                let li = document.createElement('li');
                li.appendChild(document.createTextNode(`${msg.user} made a bid of ${msg.amount}€`));
                bids_list.insertBefore(li, bids_list.firstChild);
                current_max_bid.textContent = `${msg.amount}€`;
            });
            
        </script>
    </body>
</html>