button:focus {outline:0;}

.main-container {
    width: 100%;
}

.header-section {
    height: 50px;
    background: #E50914;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    -webkit-box-shadow: 0px 13px 30px 0px rgba(158,158,158,1);
    -moz-box-shadow: 0px 13px 30px 0px rgba(158,158,158,1);
    box-shadow: 0px 13px 30px 0px rgba(158,158,158,1);
    border-bottom: 2px solid #ff0000;
    ul {
        list-style: none;
        width: 70%;
        li, a, a:visited {
            color: white;
            font-size: 16px;
            text-decoration: none;
            display: inline-flex;
            margin-left: 15px;
        }
        :first-child {
            margin-left: 0;
        }
        a:hover {
            color: #efefef;
        }
    }
}

.user-section {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 30%;
    padding-right: 15px;
    .button-logout {
        background: none;
        margin-left: 15px;
        border: none;
        color: white;
        font-size: 15px;
        cursor: pointer;
        :hover {
            color: #efefef;
        }
    }
    .top-navigator-email {
        margin-left: 30px;
    }
}

.home-content {
    width: calc(100% - 30px);
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.users-content {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    .usersTable {
        width: 100%;
    }

    .btn-activate-user {
        background: none;
        border: none;
        color: #5454bb;
        font-size: 15px;
        cursor: pointer;
        font-weight: bold;
    }
}